@page "/"

@using JiraWorklogSubmitter.Config
@using JiraWorklogSubmitter.Services.Interfaces
@using Microsoft.Extensions.Options
@inject ITimeEntryService TimeEntryService
@inject IOptions<JiraSettings> JiraSettings

<h1>Jira Time Log</h1>

<p>Create Time Entries and then submit them</p>

@if (_jiraWorklogEntries == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="_jiraWorklogEntries" OnValidSubmit="HandleValidSubmitAsync" @onkeydown="@GlobalKeyChecker">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="d-flex justify-content-between">
            <div>
                <button type="button" class="btn btn-secondary" @onclick="AddNewTimeEntry">
                    <i class="oi oi-plus"></i>
                    &nbsp;Add New Worklog Entry
                </button>
                <button type="submit" class="btn btn-primary" disabled="@_isSubmitting">
                    <i class="oi oi-cloud-upload"></i>
                    &nbsp;@(_isSubmitting ? "Submitting..." : "Submit to Jira")
                </button>
            </div>
            <div class="form-group">
                <input value="@_started"
                    id="globalStartedDate"
                    class="form-control"
                    disabled="@_isSubmitting"
                    type="date"
                    @onchange="@(async e =>
                                {
                                    // Set the time started for each ticket to the new value
                                    foreach (var item in _jiraWorklogEntries)
                                    { 
                                        var newDate = DateTime.Parse(e.Value.ToString());
                                        item.Started = newDate;
                                    }
                                })" />
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <table id="worklogEntryTable" class="table table-sm table-responsive-sm table-responsive-md table-hover table-striped">
                    <thead>
                        <tr class="d-flex">
                            <th id="worklogEntryTableTicketColumn" class="col-sm">Ticket</th>
                            <th id="worklogEntryTableTicketColumn" class="col-md">Summary</th>
                            <th id="worklogEntryTableTimeSpentColumn" class="col-sm">Time Spent</th>
                            <th id="worklogEntryTableCommentColumn" class="col-md">Comment</th>
                            <th id="worklogEntryTableRemoveColumn" class="col-sm"></th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var jiraWorklogEntry in _jiraWorklogEntries)
                    {
                        <tr class="d-flex">
                            <td class="col-sm">
                                <InputDate @bind-Value="@jiraWorklogEntry.Started" disabled="@_isSubmitting" tabindex="-1" />
                            </td>
                            <td class="col-sm">
                                <input value="@jiraWorklogEntry.Ticket"
                                       class="col"
                                       placeholder="CTS-302"
                                       disabled="@_isSubmitting"
                                       @onchange="@(async e =>
                                        {
                                            jiraWorklogEntry.Ticket = e.Value.ToString();
                                            await GetJiraTicketSummaryAsync(jiraWorklogEntry);
                                        })" />
                            </td>
                            <td class="col-md">
                                <InputText @bind-Value="jiraWorklogEntry.Summary"
                                           class="col"
                                           readonly
                                           disabled
                                           placeholder="Summary" tabindex="-1" />
                            </td>
                            <td class="col-sm">
                                <input value="@jiraWorklogEntry.TimeSpent"
                                       class="col"
                                       placeholder="1d 2h 3m"
                                       disabled="@_isSubmitting"
                                       @onchange="@(e =>
                                        {
                                            jiraWorklogEntry.TimeSpent = e.Value.ToString();
                                            UpdateTotalTime();
                                        })" />
                            </td>
                            <td class="col-md">
                                <InputTextArea @bind-Value="jiraWorklogEntry.Comment"
                                               placeholder="Optional comment"
                                               spellcheck="true"
                                               disabled="@_isSubmitting"
                                               class="col textarea-resizable textarea-resizable--has-minimum-height textarea-resizable--has-minimum-width" />
                            </td>
                            <td class="col-sm">
                                <button type="button"
                                        class="btn btn-danger col"
                                        tabindex="-1"
                                        disabled="@_isSubmitting"
                                        @onclick="@(e =>
                                        {
                                            DeleteEntry(jiraWorklogEntry);
                                            UpdateTotalTime();
                                        })">
                                    <i class="oi oi-circle-x"></i>
                                    &nbsp;Remove
                                </button>
                            </td>
                        </tr>
                    }
                    </tbody>
                    <tfoot>
                        <tr class="d-flex">
                            <td class="col-sm"></td>
                            <td class="col-md"></td>
                            <td class="col-sm">
                                <InputText @bind-Value="_totalTimeSpent" readonly disabled tabindex="-1" />
                            </td>
                            <td class="col-md"></td>
                            <td class="col-sm"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </EditForm>
}
