@page "/"

@using JiraWorklogSubmitter.Config
@using JiraWorklogSubmitter.Services.Interfaces
@using Microsoft.Extensions.Options
@inject ITimeEntryService TimeEntryService
@inject IOptions<JiraSettings> JiraSettings

<h1>Jira Time Log</h1>

<p>Create Time Entries and then submit them</p>

@if (_jiraWorklogEntries == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="_jiraWorklogEntries" OnValidSubmit="HandleValidSubmitAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <button type="button" class="btn btn-secondary" @onclick="AddNewTimeEntry">
            <i class="oi oi-plus"></i>
            &nbsp;Add New Worklog Entry
        </button>
        <button type="submit" class="btn btn-primary">
            <i class="oi oi-cloud-upload"></i>
            &nbsp;Submit to Jira
        </button>
        <div class="row">
            <div class="col col-12">
                <table id="worklongEntryTable" class="table table-sm table-responsive-sm table-responsive-md table-hover table-striped w-auto">
                    <thead>
                        <tr>
                            <th id="worklongEntryTableTicketColumn">Ticket</th>
                            <th id="worklongEntryTableTicketColumn">Summary</th>
                            <th id="worklongEntryTableTimeSpentColumn">Time Spent</th>
                            <th id="worklongEntryTableCommentColumn">Comment</th>
                            <th id="worklongEntryTableRemoveColumn"></th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var jiraWorklogEntry in _jiraWorklogEntries)
                    {
                        <tr>
                            <td>
                                <input value="@jiraWorklogEntry.Ticket" placeholder="CTS-302" @onchange="@(async e =>
                                                                                                           {
                                                                                                               jiraWorklogEntry.Ticket = e.Value.ToString();
                                                                                                               await GetJiraTicketSummaryAsync(jiraWorklogEntry);
                                                                                                           })" />
                            </td>
                            <td>
                                <InputText @bind-Value="jiraWorklogEntry.Summary" readonly disabled placeholder="Summary" tabindex="-1" />
                            </td>
                            <td>
                                <input value="@jiraWorklogEntry.TimeSpent" placeholder="1d 2h 3m" @onchange="@(e =>
                                                                                                               {
                                                                                                                   jiraWorklogEntry.TimeSpent = e.Value.ToString();
                                                                                                                   UpdateTotalTime();
                                                                                                               })" />
                            </td>
                            <td style="display:flex; align-items: stretch; flex: 0 0 50%;">
                                <InputTextArea @bind-Value="jiraWorklogEntry.Comment" placeholder="Fixed things" spellcheck="true" />
                            </td>
                            <td>
                                <button type="button"
                                        class="btn btn-danger"
                                        tabindex="-1"
                                        @onclick="@(e =>
                                                    {
                                                        DeleteEntry(jiraWorklogEntry);
                                                        UpdateTotalTime();
                                                    })">
                                    <i class="oi oi-circle-x"></i>
                                    &nbsp;Remove
                                </button>
                            </td>
                        </tr>
                    }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <InputText @bind-Value="_totalTimeSpent" readonly disabled tabindex="-1" />
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </EditForm>
}
